<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Gif Party</title>
	<link rel="stylesheet" href="src/gifparty.css">
	<noscript><link rel="stylesheet" href="dist/fallback.css"></noscript>
</head>
<body>
	<!-- <%= warning %> -->
	<%- images %>
	<a href="#img0" class="targetless-link">Start Here</a>
	<script src="lib/libgif.js"></script>
	<script src="src/gifparty.js"></script>
</body>
</html>