body {
	text-align: center;
	background-color: #000;
	margin: 0;
	overflow: hidden;
}
html,
body,
a,
.jsgif {
	width: 100%;
	height: 100%;
}
a {
	display: block;
}
a canvas {
	cursor: pointer;
}
img { 
	display: none;
}
img.inserted {
	display: block;
}
.jsgif canvas,
img.inserted {
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.gifparty {
	display: none;
	background-image: none;
}
.gifparty:target {
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: contain;
	background-size: contain;
}
.targetless-link {
	font-size: 200%;
	text-align: center;
	color: #fff;
	padding-top: 3em;
}
.targetless-link:link,
.targetless-link:visited {
	color: #fff;
}
.gifparty:target + .targetless-link {
	display: none;
}